<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kli.mapper.StudentMapper">
    <sql id="querySql">
        select id,name,gender,admission_date,class_id,create_time,update_time from student
    </sql>
    <insert id="insert">
        insert into student (
        name,
        gender,
        <if test="admissionDate != null">
            admission_date,
        </if>
        class_id,
        create_time,
        update_time
        )
        values(
        #{name},
        #{gender},
        <if test="admissionDate != null">
            #{admissionDate},
        </if>
        #{classId},
        #{createTime},
        #{updateTime}
        )
    </insert>
    <update id="update">
        update student
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="admissionDate != null">
                admission_date = #{admissionDate},
            </if>
            class_id = #{classId},
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>
    <delete id="deleteByIds">
        delete from student
        <where>
            id in
            <foreach collection="ids" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="queryList">
           select t1.id,t1.name,t1.gender,t1.admission_date,t2.class_rank,t2.grade,t2.head_teacher_name,t1.create_time,t1.update_time from student t1 left join clazz t2 on t1.class_id = t2.id
        <where>
            <if test="name != null and name != ''">
                t1.name like concat('%',#{name},'%')
            </if>
            <if test="gender != null">
                and t1.gender = #{gender}
            </if>
            <if test="classRank != null">
                and t1.class_id in
                (select id from clazz where class_rank = #{classRank})
            </if>
            <if test="grade != null">
                and t1.class_id in
                (select id from clazz where grade = #{grade})
            </if>
            <if test="begin != null and end != null">
                and t1.admission_date between #{begin} and #{end}
            </if>
            <if test="begin == null and end != null">
                and t1.admission_date &lt;= #{end}
            </if>
            <if test="begin != null and end == null">
                and t1.admission_date >= #{begin}
            </if>
        </where>
        order by t1.update_time desc
    </select>
</mapper>